@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    --body-bg-color: #e4e6f5;
    --border-color: #e5e4e9;
    --theme-bg-color: #fff;
    --body-color: #1b1f31;
    --main-color: #7a7e9d;
    --main-light-color: #a1a4b9;
    --title-color: #979dc3;
    --body-font: "Jost", sans-serif;
    --button-bg-color: #eaeefc;
    --button-color: #87c770;
    --unselected-mail: #f1f2f7;
    --calendar-border-color: #cbcfe0;
    --main-container-bg: #f0f0f7;
  }
  
  * {
    outline: none;
    box-sizing: border-box;
  }
  
  
  body {
    font-family: var(--body-font);
    background-color: var(--body-bg-color);
    color: var(--body-color);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .container {
    margin-top: 5px;
    background-color: var(--theme-bg-color);
    display: flex;
    max-width: 1100px;
    height: 800px;
    overflow: hidden;
  
  }
  
  
  
  
  @keyframes progressAnimation {
    0% {
      width: 5%;
      background-color: #a2b6f5;
    }
    100% {
      width: 35%;
    }
  }
  
  
  /*----------------------------------------header BUSCAR-------------------------------------*/
  
  .header {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 30px;
  }
  
  /*----CASILLA BUSCARRR--*/
  
  .search-bar {
    height: 70px;
    position: relative;
  }
  
  
  .search-bar input {
    height: 100%;
    width: 100%;
    display: block;
    background-color: transparent;
    border: none;
    color: var(--body-color);
    padding: 0 35px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23a1a4b9' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3e%3ccircle cx='11' cy='11' r='8'/%3e%3cpath d='M21 21l-4.35-4.35'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 0 50%;
    font-family: var(--body-font);
    font-weight: 600;
    font-size: 14px;
  }
  
  .search-bar input::placeholder {
    color: var(--main-light-color);
  }
  
  
  /*--------------------------------------TODO CONTENEDOR CON SIDEBAR Y CONTENIDO CITACIÓN--------------*/
  
  
  .main-container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    background-color: var(--main-container-bg);
    
  }
  
  /*--------------CONTENEDOR DONDE DICE SOLICITUD DE CITACIONES-------------*/
  
  
  .inbox-container {
    border-right: 1px solid var(--border-color);
    width: 420px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex-shrink: 0;
  }
  
  
  /*------------------ CONTENEDOR NOMBRE DEL INSTRUCTORES-------------*/
  
  .inbox {
    overflow: auto;
  }
  
  
  .msg {
    padding: 30px;
    background-color: var(--unselected-mail);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    transition: 0.4s ease;
  }
  
  
  .selected-bg {
    background-color: var(--theme-bg-color);
  }
  
  
  .msg-title {
    font-weight: 600;
    font-size: 14px;
  }
  
  
  .msg-date {
    font-size: 11px;
    color: var(--main-light-color);
    font-weight: 600;
    margin-top: 5px;
  }
  
  
  .msg-department {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    font-weight: 700;
    letter-spacing: 0.8px;
    background-color: var(--theme-bg-color);
    border-left: 4px solid #b36dfb;
  }
  
  .msg-department svg {
    width: 12px;
  }
  
  
  
  /*---------------------CONTENEDOR PARTE DE ARRIBA NOMBRE INSTRUCTOR---------------*/
  
  .mail-detail {
    display: flex;
    animation: slideX 0.6s both;
    flex-direction: column;
    overflow: auto;
    background-color: var(--theme-bg-color);
  }
  
  /* contenedor nombre instructor*/
  
  .mail-detail-profile {
    display: flex;
    align-items: center;
  }
  
  
  .mail-detail-header {
    border-bottom: 1px solid var(--border-color);
    padding: 16px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /*NOMBRE INSTRUCTOR */
  
  .mail-detail-name {
    font-size: 17px;
    font-weight: 600;
    margin-left: 10px;
    white-space: nowrap;
  }
  
  
  .mail-choice {
    display: none;
  }
  
  .mail-choice + label:before {
    content: "";
    display: flex;
    width: 35px;
    height: 35px;
    border: 2px solid var(--main-light-color);
    margin-right: 15px;
    border-radius: 50%;
    transition: 0.3s;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='28' viewBox='0 0 24 24' fill='none' stroke='%23a1a4b9' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  
  .mail-choice:checked + label:before {
    border-color: green;
    background-color: var(--button-color);
    border-color: var(--button-color);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='28' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
  }
  
  .mail-choice:checked .msg {
    background-color: red;
  }
  
  
  .add-button {
    position: sticky;
    bottom: 10px;
    background-color: var(--button-color);
    border: 0;
    margin: auto;
    padding: 10px 30px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    border-radius: 20px;
    flex-shrink: 0;
    z-index: 1;
    cursor: pointer;
  }
  
  
  @keyframes slideX {
    0% {
      opacity: 0;
      transform: translateX(200px);
    }
  }
  .inbox-detail {
    width: 44px;
    height: 44px;
  }
  
  .mail-icons {
    flex-shrink: 0;
  }
  .mail-icons svg {
    width: 42px;
    height: 42px;
    padding: 13px;
    flex-shrink: 0;
    margin-left: 10px;
    border-radius: 50%;
    overflow: visible;
    background-color: var(--button-bg-color);
    color: var(--button-color);
  }
  .mail-icons svg:first-child {
    margin-left: 0;
  }
  
  .mail-contents {
    padding: 30px;
  }
  .mail-contents-subject {
    display: flex;
    align-items: center;
  }
  .mail-contents-title {
    font-weight: 700;
    font-size: 17px;
    margin-left: 5px;
  }
  
  .mail {
    padding-left: 55px;
    font-size: 14px;
    color: var(--main-light-color);
  }
  .mail-time {
    font-weight: 600;
    display: flex;
    align-items: center;
    font-size: 13px;
  }
  .mail-time svg {
    width: 12px;
    margin-right: 8px;
  }
  .mail-inside {
    padding: 20px 0 30px;
    border-bottom: 1px solid var(--border-color);
    color: var(--main-color);
    line-height: 1.8em;
  }
  .mail-checklist {
    padding: 20px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
  }
  .mail-checklist .mail-choice + label:before {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-right: 12px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='18' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
  }
  .mail-checklist label {
    display: flex;
    align-items: center;
    color: var(--button-color);
    font-weight: 600;
    font-size: 13px;
  }
  .mail-checklist-date {
    margin-left: 16px;
    font-size: 13px;
  }
  
  .assignee {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .assignee :last-child {
    margin-bottom: 0;
  }
  
  .mail-assign {
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
  }
  
  .mail-doc {
    display: flex;
    align-items: center;
    padding: 30px 0;
    flex-shrink: 0;
    justify-content: space-between;
  }
  .mail-doc-name {
    color: var(--body-color);
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 3px;
  }
  .mail-doc-date {
    font-size: 13px;
  }
  .mail-doc-wrapper {
    display: flex;
    align-items: center;
  }
  .mail-doc-wrapper svg {
    margin-right: 15px;
    background-color: var(--button-bg-color);
    color: var(--button-color);
    width: 50px;
    padding: 9px;
    border-radius: 4px;
  }
  .mail-doc-icons svg:not(:last-child) {
    margin-right: 8px;
  }
  
  .mail-textarea {
    display: flex;
    background-color: var(--theme-bg-color);
    padding: 30px 0;
    border-top: 1px solid var(--border-color);
    position: sticky;
    bottom: 0;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    left: 0;
    overflow: hidden;
    height: 50px;
    flex-shrink: 0;
    cursor: pointer;
  }
  .mail-textarea input {
    border: none;
    background-color: transparent;
    font-size: 15px;
    width: 100%;
    padding: 0 30px;
    color: var(--main-color);
  }
  .mail-textarea input::placeholder {
    color: var(--main-light-color);
  }
  
  .textarea-icons {
    display: flex;
    align-items: center;
  }
  
  .attach {
    padding: 30px;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
  }
  .attach svg {
    color: var(--main-color);
  }
  
  .send {
    
    color: #fff;
    font-weight: 800;
    padding: 20px;
    background-color: var(--button-color);
  }
  .send svg {
    color: var(--theme-bg-color);
  }
  