@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



/*buscar de tablas*/

.dataTable-top,
.dataTable-bottom{
    padding:20px 10px;
    margin-left: 20%;

}

/*texto izquierda*/
.dataTable-top > div:first-child,
.dataTable-bottom > div:first-child{
    float:left;
    margin-left: 90px;
    font-size: 10px;

}

/*POSICIÓN BUSCAR*/
.dataTable-top > div:last-child,
.dataTable-bottom > div:last-child{
    margin-right: 40%;
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;


}

/*Selector*/
.dataTable-selector{
    padding:6px;
    border-radius: 10px;
}
.dataTable-selector:focus{
    border-color:#87c770;
    background-color: #fff;
    box-shadow: 0 0 0 6px rgba(67, 219, 125, 20%);

}
/*casilla buscar*/
.dataTable-input{
    width: 100%;
    height: 30px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;

}
.dataTable-input::placeholder {
    color: #9e9ea7;
}

.dataTable-input:focus, .dataTable-input:hover {
    outline: none;
    border-color:#87c770;
    background-color: #fff;
    box-shadow: 0 0 0 6px rgba(67, 219, 125, 20%);
}

/*parte de abajo*/
.dataTable-info{
    margin:2px 0;

}


/*filters titulos*/
.dataTable-sorter{
    display:inline-block;
    height:100%;
    position:relative;
    width:100%;

}
/*flechitas filtros titulo*/
.dataTable-sorter::before,
.dataTable-sorter::after{
    content:"";
    height:0;
    width:0;
    position:absolute;
    right:4px;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    opacity:0;

}

.dataTable-sorter::before{
    border-top:4px solid #000;
    bottom:2px
}

.dataTable-sorter::after{
    border-bottom:4px solid #000;
    border-top:4px solid transparent;
    top:-2px
}

.asc .dataTable-sorter::after,
.desc .dataTable-sorter::before{
    opacity:.6
}


.dataTable-top::after,
.dataTable-bottom::after{
    clear:both;
    content:" ";
    display:table
}


.botonespace{
    position: absolute;
    left: 80%;
    bottom: 75%;
    float:right;
}

.buttonR{
    position: relative;
    width: 150px;
    font-size: 12px;
    font-weight: bold;
    background: #87c770;
    color: white;
    padding-block: 15px;
    border-radius: 8px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
    cursor: pointer;
}

.tituloaprendiz{
    margin-left: 15%;
    padding-top: 7px;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
    position: relative;
    display: flex;
    align-items: center;
    color: #000000;
}
.Container-modal {
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: none;
}

.form {
    background-color: black;
    margin-top: -12%;
    margin-left: 700px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 450px;
    padding: 35px;
    border-radius: 20px;
    position: absolute;
    background: #3b55bbe0;
    background: linear-gradient(0deg, rgb(238, 238, 238) 0%, rgb(244, 250, 255) 100%);
    border: 5px solid rgb(252, 248, 248);
    box-shadow: rgba(113, 202, 140, 0.878) 0px 30px 30px -20px;
}
.form1 {
    background-color: black;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 550px;
    padding: 35px;
    border-radius: 20px;
    position: absolute;
    background: #3b55bbe0;
    background: linear-gradient(0deg, rgb(238, 238, 238) 0%, rgb(244, 250, 255) 100%);
    border: 5px solid rgb(252, 248, 248);
    box-shadow: rgba(113, 202, 140, 0.878) 0px 30px 30px -20px;
}


.closeB {
    position: absolute;
    top: 5px;
    right: 19px;
    font-size: 25px;
    transform: rotate(45deg);
    cursor: pointer;
}

.title {

    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
    display: flex;
    align-items: center;
    color: #87c770;
}

.title1 {
    margin-left: 35%;
    padding-bottom: 1px;
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label,
.form1 label{
    position: relative;
}

.form label .input,
.form1 label .input{
    background: rgb(255, 255, 255);
    border: none;
    width: 100%;
    padding: 20px 05px 05px 10px;
    border-radius: 10px;
    border: 0.1px solid rgba(223, 222, 222, 0.397);
    border-radius: 10px;
    box-shadow: #5eca76 0px 5px 10px -5px;
}

.form label .input+span,
.form1 label .input+span {
    font-weight: 500;
    color: #6b6b6b;
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown+span,
.form1 label .input:placeholder-shown+span{
    top: 12.5px;
    font-size: 0.9em;
}

.form label .input:focus+span,
.form1 label .input:valid+span {
    color: #87c770;
    top: 0px;
    font-size: 0.8em;
    font-weight: 600;
}

.form .input:focus,
.form1 .input:focus{
    outline: none;
    border-inline: 3px solid #5eca76;
}

.input {
    font-size: medium;
}



.holder {
    font-weight: 500;
    font-size: 0.9em;
    color: #6b6b6b;
    width: 100%;
    background: rgb(255, 255, 255);
    border: none;
    padding: 15px 10px;
    border-radius: 10px;
    box-shadow: #5eca76 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
}

.holder:focus {
    outline: none;
    border-inline: 3px solid #5eca76;
}

.submit {
    letter-spacing: 0.3rem;
    display: block;
    width: 98%;
    font-weight: bold;
    background: #87c770;
    color: white;
    padding-block: 15px;
    margin: 30px auto;
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
}

.submit:hover {
    transform: scale(1.06);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

/*DOS ULTIMOS CAMPOS*/
.ultim{
    width: 100%;
    display: flex;
    gap: 6px;
    margin-top: 0;
}

.form label .campo{
    width: 100%;
    margin-right: 150px;
    background: rgb(255, 255, 255);
    border: none;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border-radius: 10px;
    border: 1px solid rgba(209, 208, 208, 0.397);
    border-radius: 10px;
    box-shadow: #5eca76 0px 5px 10px -5px;
}

.form label .campo+span{
    font-weight: 500;
    color: #6b6b6b;
    position: absolute;
    left: 10px;
    top: 6px;
    font-size: 0.8em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .campo:placeholder-shown+span{
    top: 5px;
    font-size: 0.9em;
}

.form label .campo:focus+span,
.form label .campo:valid+span{
    color: #87c770;
    top: 0px;
    font-size: 0.8em;
    font-weight: 600;
}

.form .campo:focus{
    outline: none;
    border-inline: 3px solid #5eca76;
}

.campo{
    font-size: medium;
}

.campo2{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

/*Tabla*/

table.miyazaki {
    display: block;
    margin-left: 5%;
    max-height: 380px;
    max-width:50%;
    border-collapse: collapse;
    color: #ffffff;
    border-radius: 20px;
    overflow-y: scroll;
    overflow-x: scroll;

}
table.miyazaki::-webkit-scrollbar{
    width: 7px;
    position: absolute;
}
table.miyazaki::-webkit-scrollbar-thumb{
    background: #a7a7a7;
    border-radius: 50px;
}

table.miyazaki caption {
    font-size: 2rem;
    color: #fff;
    margin: 1rem;
    background-position: center left, center right;
}

table.miyazaki thead th {
    letter-spacing: 2px;
    font-weight: 800;
    position:sticky;
    background: #87c770;
    font-size: 12px;
    padding: 5px 53px 10px 10px ;
}

table.miyazaki tbody td {

    font-size: 11px;
    font-weight: 500;
    font-display:inherit;
    color: #0a0808;
    background: #fff;
    border: 1px solid rgb(143, 143, 143);
}


/*button*/

table.miyazaki tbody td .button1{
    font-size: 7px;
    position: relative;
    padding: 1em 1.5em 1em 1.5em;
    border: none;
    background: #87c770;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
}

.button1:active {
    transform: scale(0.95);
}

.button1 span {
    font-weight: 500;
    color: #ffffff;
    font-size: 8px;
    letter-spacing: 2px;
}

.button1 .border {
    position: absolute;
    border: 0.20em solid #6bdb42;
    transition: all 0.3s 0.08s linear;
    top: 50%;
    left: 50%;
    width: 8.5em;
    height: 3.5em;
    transform: translate(-50%, -50%);
}

.button1:hover .border {
    display: block;
    width: 10.7em;
    height: 3.8em;
}

.full-rounded {
    border-radius: 2em;
}


/*button2*/
table.miyazaki tbody td .button2{
    font-size: 7px;
    position: relative;
    margin: 0;
    padding: 1em 0.5em 1em 0.5em;
    border: none;
    background: #ff7575;
    transition: all 0.1s linear;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
}
.button2:active {
    transform: scale(0.95);
}


.button2 span {
    font-weight: 500;
    color: #ffffff;
    font-size: 8px;
    letter-spacing: 1.5px;
}

.button2 .border {
    position: absolute;
    border: 0.20em solid #df0b0b;
    transition: all 0.3s 0.08s linear;
    top: 50%;
    left: 50%;
    width: 8em;
    height: 3.5em;
    transform: translate(-50%, -50%);
}

.button2:hover .border {
    display: block;
    width: 10.7em;
    height: 3.8em;
}

.full-rounded {
    border-radius: 2em;
}


/*EDIT BUTTON */
.Btn {
    left: 25%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    width: 55px;
    border: none;
    padding: 0px 5px;
    color: white;
    background-color: rgba(241, 132, 48, 0.58);
    font-weight: 500;
    height: 20px;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgb(49, 114, 119);
    transition-duration: .3s;
    font-size: 9px;
    letter-spacing: 3px;
}

.svg {
    width: 10px;
    position: absolute;
    right: 0;
    margin-right: 1px;
    fill: rgb(255, 255, 255);
    transition-duration: .3s;
}

.Btn:hover {
    color: transparent;
}



.Btn .a{
    color: #fff;
}
.Btn .a:hover {
    color: transparent;
}
.Btn:hover svg {
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
    color: transparent;
    right: 43%;
}

.Btn:active {
    transition-duration: .3s;
    box-shadow: 2px 2px 0px rgb(10, 9, 10);
    transform: translate(3px , 3px);
}

.gradient {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0.6em;
    margin-top: -0.25em;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    position: absolute;
}

.label {
    top: -1px;
    position: relative;
}

.transition{
    transition-duration: 500ms;
    background-color: rgba(16, 185, 129, 0.6);
    border-radius: 9999px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

button:hover .transition {
    height: 14em;
    width: 14em;
}


table.miyazaki tbody tr:not(:last-child) {
    border-bottom: 1px solid #969595;
    border: 1px solid #0c0000;
}


@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }
    to {
        transform: scale(1.8);
        opacity: 0;
    }
}