<!DOCTYPE html>
<html  xmlns:th="https://wwww.thymeleaf.org" lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/editarAprendiz.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css}" />
    <link rel="shortcut icon" th:href="@{/img/Siigce.ico} " sizes="25">
    
    <title>ACTUALIZAR APRENDIZ .:. SIGCE</title>
</head>
<body>
    <div th:replace="fragmentos/header2"></div> 
   
    <div class="containerAprendiz">
        <div class="botonespace">
            <a th:href="@{/Funcionario/listarAprendices}">
             
                <button class="bookmarkBtn">
                    <span class="IconContainer"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: msFilter"><path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"></path></svg>
                    </span>
                    <p class="text">Atrás</p>
                  </button>
              </a>
        </div>


        <form class="form" th:action="@{/Funcionario/actualizarA}" method="post" th:each="a:${aprendiz}"  onsubmit="return comprobarActualizar()">
            <h1 class="titule">Actualizar Aprendiz</h1>

            <div class="flex">
                <label>
                   <select class="input input1 doc" name="tipoIde_Apr">
                        <option th:value="${a.tipoIde_Apr}" th:text="${a.tipoIde_Apr}" ></option>
                        <option class="option" value="TI">TI</option>
                        <option class="option" value="CC">CC</option>
                        <option class="option" alue="CE">CE</option>
                    </select>
                    <span>Tipo de documento</span>
                </label>

                <label>
                   <input class=" input" name="identificacion_Apr" th:value="${a.identificacion_Apr}" readonly>
                    
                    <span>Número de documento</span>
                </label>
            </div>

            <div class="flex">
            <label>
                <input type="text" class="input"  th:value="${a.nombre_Apr}" readonly>
                <span>Nombre</span>
            </label>

            <label>
                <input type="text" class="input" th:value="${a.apellido_Apr}" readonly >
                <span>Apellido</span>
            </label>
            </div>
           
            <label>
                <input type="email" class="input" name="correo_Apr" th:value="${a.correo_Apr}">
                <span>Correo Electrónico</span>
            </label>

            <div class="flex">
            
                <label>
                    <select id="state " name="ficha.id_Fic" class="input input1 doc">
                        <option th:value="${a.Ficha.id_Fic}" th:text="${a.Ficha.id_Fic}"></option>
                        <option class="option" th:each="ficha : ${ficha}" th:value="${ficha.id_Fic}" th:text="${ficha.id_Fic}"></option>
                    </select>
                    <span>Ficha</span>
                </label>
                <label>
                <input type="text" class="input" th:value="${a.Ficha.Programa.nombre_Pro}" readonly >
            <span>Programa</span>
            </label>
            </div>

            <button class="submit" type="submit">Actualizar</button>
        </form>
    </div>

<script th:src="@{/js/aprendiz.js}"></script>
</body>
</html>
